# Môi trường ảo Python
.venv/
venv/
env/

# Thư mục cache và file biên dịch của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File cấu hình của hệ điều hành / VS Code
.vscode/
.DS_Store

# (Tùy chọn) Thư mục chứa data xuất ra từ phần mềm của bạn
exported_data/
*.csv